


/* ------------------------------------------------ JORDAN'S CSS ------------------------------------------------ */
.fgpasswordPage {
    justify-content: center;
    justify-content: space-evenly;
    flex-direction: column;
    text-align: center;
    /* border: solid 2px black; */
    border-radius: 10px;
    margin-right: 30%;
    margin-left: 30%;
    margin-top: 10%;
    /* padding-bottom: 10%; */
    background-color: white;
}

#forgotPassPage {
    background-image: url(../images/mauveBackground.avif);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: comic sans ms;
}

#confirmPass {
    border-radius: 50%;
    color: white;
    width: 30%;
}

#forgotHeader {
    padding-top: 10%;
}

#newPW {
    color: rgb(0, 0, 0);

}

#confirm {
    justify-content: center;
    align-items: center;
    position: relative;
    
}

input {
    width: 80%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
  }
  
  /* Style the submit button */
  
  /* Style the container for inputs */
  .container {
    background-color: #f1f1f1;
    padding: 20px;
  }
  
  /* The message box is shown when the user clicks on the password field */
  #message {
    color: #000;
    position: relative;
    padding: 20px;
    margin-top: 10px;
  }
  
  #message p {
    padding: 10px 35px;
    font-size: 18px;
  }
  
  /* Add a green text color and a checkmark when the requirements are right */
  .valid {
    color: rgb(0, 228, 0);
  }
  
  .valid:before {
    position: relative;
    left: -35px;
  }
  
  /* Add a red text color and an "x" icon when the requirements are wrong */
  .invalid {
    color: rgba(255, 170, 184, 0.68);
  }
  
  .invalid:before {
    position: relative;
    left: -35px;
  }


/* ------------------------------------------------ Justin --------------------------------------------------------- */

.navbar {
    background-color: rgba(0, 0, 0, 0.324);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    
}

#signOut {
    font-family: comic sans ms;
    font-size: 20px;
    background-color: #f0bdfc;
    border-radius: 50%;
    border: solid 2px #8f414e;
    padding-top: 3%;
    padding-bottom: 8%;
    text-decoration: none;
}

#signOut:hover {
    background-color: #f0bdfc;
    border: solid 2px #f0bdfc;
    box-shadow: 0 0 10px #f0bdfc;
}

.navbar > .container-fluid {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: end;
}

body {
    /* background-color: #FDFD96; */
    background-image: url(../images/yellowBackground.webp);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: comic sans ms;
}

#pageTitle {
    color: #f0bdfc;
    font-family: comic sans ms;
    font-size: 350%;
    -webkit-text-stroke: 1.8px #8f414e;
    font-weight: bold;
    margin-left: 1%;
}

#octoLogo {
    margin-left: 1%;
}

#octoTitle {
    height: 5%;
    width: 5%;
    margin-bottom: -1%;
    margin-top: -1%;
    margin-left: 1%;
}

/* #calendarContainer {
    display: grid;
    justify-content: end;
    align-items: center;
} */

/* #testBox {
    background-color: rgb(110, 190, 255);
    width: 10%;
    color: white;
    border-radius: 50%;
}

#testText {
    margin-left: 35%;
} */

#returnName, #returnLoc, #returnDate, #returnTime, #returnCom {
    color: #f797c3;
}

#calendarBox {
    /* border: solid 4px #8f414e; */
    box-shadow: 0 0 10px #8f414e;
    border-radius: 3%;
    /* height: 30%; */
    width: 50%;
    padding-left: 1%;
    padding-right: 1%;
    margin-left: 40%;
    margin-right: 5%;
    float: right;
    margin-top: -61%;
    margin-bottom: 5%;
    background-color: #f0bdfc;
    text-align: center;
}

#calendar {
    padding-top: 2%;
    background-color: white;
    margin-bottom: 5%;
    margin-top: 4%;
    /* border: solid 2px #8f414e; */
    box-shadow: 0 0 5px #8f414e;
    border-radius: 5%;
}

#calendarHeader {
    font-family: comic sans ms;
    color: #8f414e;
    /* -webkit-text-stroke: 2px #8f414e; */
    font-size: 380%;
    margin-top: 5%;
}

.calEventacle {
    font-family: comic sans ms;
    color: #ffe895;
    -webkit-text-stroke: 2px #8f414e;
    font-weight: bold;
}

.headEventacle {
    font-family: comic sans ms;
    color: #f0bdfc;
    -webkit-text-stroke: 2px #8f414e;
    font-weight: bold;
}

#createEvent {
    /* font-weight: bold; */
    color:#8f414e;
    font-family: arial;
}

#eventName {
    margin-top: 2%;
    color: #8f414e;
    width: 98%;
}

#eventLocation {
    margin-top: 4%;
    color: #8f414e;
    width: 98%;
}

#eventDateTime {
    margin-top: 4%;
    color: #8f414e9b;
    width: 98%;
}

#eventDescription{
    height: 20%;
    margin-top: 4%;
    color: #8f414e;
}


#yourEventCont {
    display: flex;
    flex-direction: column;
}

#searchInput {
    box-shadow: 0 0 5px #8f414e;
    font-family: arial;
    color:#8f414e98
}

#deleteInput {
    box-shadow: 0 0 5px #8f414e;
    font-family: arial;
    color:#8f414e98
}

#submitEvent {
    font-family: comic sans ms;
}

#yourEventacle {
    font-family: arial;
}

span {
    color:#8f414e
}

.fc {
    color:#8f414e;
    font-family: arial;
    font-weight: bold;
}

.fc-toolbar {
    margin-left: 3%;
}


.fc-right {
    margin-right: 3%;
}


.containNewEvent {
    max-width: 40%;
    margin-top: 2%;
    /* float:left; */
    padding: 1%;
    border-radius: 18px;
    box-shadow: 0 0 5px #8f414e;
    margin-left: 3%;
    background-color: white;
    text-align: center;
    font-family: arial;
}

.retrieveEvent {
    max-width: 40%;
    margin-top: -10%;
    padding: 1%;
    /* float: left; */
    border-radius: 18px;
    box-shadow: 0 0 5px #8f414e;
    margin-left: 3%;
    background-color: white;
    text-align: center;
    font-family: arial;
    color: #8f414e;
}

#searchReturn {
    text-align: left;
}



/* -------------------------------------------------- DAVID ------------------------------------------------ */


.navigation {
    text-align: center;
    margin-bottom: 20px;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
}

td, th {
    width: 30px;
    height: 30px;
    text-align: center;
    border: 1px solid #ccc;
}

button {
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
}

.month {
    text-align: center;
    background-color: white;
    font-size: 20px;
    letter-spacing: 1px;
    color: black;
    border: 4px solid #8f414e;
}


.search-input {
    padding: 1px;
    font-size: 1px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px; /* Rounded left corners */
    flex: 1; /* Take remaining space */
    background-color: black;
    
}

.search-button {
    padding: 10px 20px;
    background-color: #f797c3;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 0 5px 5px 0; 
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 0 5px #8f414e;
    font-family: comic sans ms;
    
}

#searchButton:hover {
    background-color: #f0bdfc; 
    box-shadow: 0 0 10px #f0bdfc;
}

.search-container {
    width: 42%;
    margin-bottom: 10%;
    /* border-left: 1%; */
    /* float:right; */
    /* flex:auto; */
    padding: 1%;
    /* left: 10%; */
    display: flex;
    float: left;
    margin-left: 2%;
    
}

/* .search-container {
    
    align-items: center;
} */


label {
    display: flex;
    /* display: block; */
    /* margin-top: 10%; */
    align-content: center;
}

input[type="text"],
input[type="datetime-local"],
textarea {
    width: calc(100% - 12px);
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

textarea {
    height: 20px;
}

.submit-btn {
    padding: 10px 20px;
    background-color: #f797c3;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    margin-top: 5%;
}

.submit-btn:hover {
    background-color:#f0bdfc;

    box-shadow: 0 0 10px #f0bdfc;
}




/* color of the octopus purple #f0bdfc */
/* color of the outline amaranth or maroon #8f414e */
/* color of the suction cups and cheeks pink #f797c3 */
/* complementary color pastel yellow #FDFD96 */

